.no-orders {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .orders-title {
    font-size: 2em;
    color: #4b2c20;
    margin-bottom: 20px;
  }
  
  .no-orders-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .no-orders-image {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  
  .no-orders-text {
    font-size: 1.2em;
    color: #bcb0a8;
    margin-bottom: 10px;
  }
  
  .make-order-text {
    font-size: 1.2em;
    color: #eda77b;
  }
  